﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.charactersData {
    margin-bottom: 30px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

    .flex-container > div {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }

.character-title {
    background-color: lightyellow;
    padding-top: 15px;
    padding-bottom: 15px;
    font-variant-caps: small-caps;
    font-weight: bolder;
}

.images-panel {
    margin-top: 40px;
}