﻿@model AvidityTest.Models.IndexViewModel
@{
    ViewBag.Title = "Avidity Test";
}


@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div id="errorPanel" class="alert alert-danger alert-dismissible close" role="alert">
        <span id="errorMsg">@Model.ErrorMessage</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else
{
    <header class="text-center">
        <h1 id="characterName" class="character-title">@Model.CharacterName</h1>
    </header>

    <section>
        <h1 class="text-left">Story</h1>
        <span>Name: </span>
        <span id="storyName">@Model.StoryName</span><br />
        <span>Story Description: </span>
        <span id="storyDescription">@Model.StoryDescription</span>
    </section>

    <section style="margin-top: 40px">
        <h1 class="text-left">Characters</h1>
        <div id="characters" class="flex-container">
            @foreach (var img in Model.CharactersList)
            {
                <div class="charactersData">
                    <b>@img.Name</b><br />
                    <img src="@img.ImagePath" alt="picture" height="225" width="150">
                </div>
            }
        </div>
    </section>

    <footer id="attributionText" class="text-left font-italic" style="margin-top: 50px">@Model.MarvelAttributionText</footer>
}


